<h1 class="banner">Price Cards</h1>

<main class="container">
    <section class="container__wrapper">
        <aside class="card">
            <header class="card__header">
                <h3>Free</h3>
                <h1>$0</h1>
            </header>
            <div class="card__body">
                <ul>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-times">Some Feature Text</i></li>
                    <li><i class="fas fa-times">Some Feature Text</i></li>
                </ul>
            </div>
            <footer class="card__footer">
                <button type="button">Subscribe</button>
            </footer>
        </aside>
        <aside class="card">
            <header class="card__header">
                <h3>Standard</h3>
                <h1>$49 / <span>Month</span></h1>
            </header>
            <div class="card__body">
                <ul>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-times">Some Feature Text</i></li>
                    <li><i class="fas fa-times">Some Feature Text</i></li>
                </ul>
            </div>
            <footer class="card__footer">
                <button type="button">Subscribe</button>
            </footer>
        </aside>
        <aside class="card">
            <header class="card__header">
                <h3>Premium</h3>
                <h1>$99 / <span>Month</span></h1>
            </header>
            <div class="card__body">
                <ul>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                    <li><i class="fas fa-check">Some Feature Text</i></li>
                </ul>
            </div>
            <footer class="card__footer">
                <button type="button">Subscribe</button>
            </footer>
        </aside>
    </section>
</main>


